$blue: #15BDDE;
$orange : #F48100;
$gray: #c3c3c3;


html {
  //position: relative;
  overflow: hidden;
}
body { 
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 0px;
  margin: 0px;
  font-family:'Quicksand', sans-serif !important;
  font-size: 24px !important;
  font-weight: bold !important;
  //display: flex;
  //flex-direction: column;
}
canvas { 
  display: inline-block; 
  background: #202020; 
  width: 95%;
  height: 45%;
}
input {
  -webkit-appearance: none !important;
  -moz-appearance: none !important; 
  appearance: none !important;
  border: none;
}
input {
  background-color: #fff;
  padding-bottom: 3px;
  border-bottom: 2px solid $blue;
  &:focus {
    outline: transparent !important;
  }
  &:focus::-webkit-input-placeholder
   {
    transition: text-indent 0.5s 0.2s ease; 
    text-indent: -100%;
    opacity: 1;
  }
}
input[type=submit] {
  float: right;
  background-color: $blue;
  color: #fff;
  height: 40px;
  border-radius: 20px;
  border: 2px solid $blue;
  font-size: 2rem;
  font-weight: bold;
  transition: all 0.8s;
  &:hover {
    color: #fff;
    background-color: #000;
    transition: all 0.8s;
  }
}
button.btn {
  position: absolute;
  left: 42%;
  width: 275px;
  height: 60px;
  background-color: $blue;
  color: #fff;
  border-radius: 25px;
  border: 2px solid $blue;
  font-size: 2.5rem;
  font-weight: bold;
  transition: all 0.8s;
  &:focus {
    color: #fff;
    outline: none;
  }
  span {
    top: 3px;
    float: right;
    margin-left: 10px;
    font-size: 3rem;
  }
   &:hover {
      color: #fff;
      background-color: #000;
      span {
        color: red;
      }
      transition: all 0.8s;
  }
}
// HEADER
header {
  .navbar-inverse {
    z-index: 100;
    height: 80px;
    margin: 0px;
    border-bottom: 4px solid $blue;
  }
  .navbar-header {
    position: relative;
    width: 50%;
    height: 80px;
    padding-left: 15px;
    overflow: hidden;
  }
  .navbar-brand {
    position: absolute;
    bottom: 4px;
    display: block;
    //width: 85%;
    height: 70px;
    padding: 0px;
    img {
      height: 100%;
      width: auto;
    }
  }
}
//ABOUT
#about {
  position: absolute;
  top: -200%;
  z-index: 0;
  width: 100%;
  height: 750px;
  opacity: 0;
  border-bottom: 100px solid black;
  transition: all 1.5s;
  &.show {
    top: 80px;
     z-index: 900;
    opacity: 1;
    transition: all 1.5s;
  }
  .wrapper  {
    background-color: rgba(0,0,0,0.9);
    overflow: hidden;
    > * {
      float: left;
    }
  }
  ul {
    list-style-type: none;
    overflow: hidden;
  }
  .flatiron {
    display: block;
    width: 50px;
    height: 50px;
    margin-top: 10px;
    background-image: image-url("fi.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
    opacity: 0.5;
      transition: all 0.8s;
  }
}
.team {
    position: relative;
    z-index: 910;
    width: 975px;
    height: 80vh;
    float: right;
   // padding-left: 30px;
    background-color: #000;
    background-image: image-url("team-bw.jpg");
    background-size: 100%;
    background-repeat: none;
    > li {
      width: 200px;
      height: 100%;
      float: left;
    }
    ul li {
      float: left;
      width: 50%;
      height: 75px;
      text-align: center;
      color: $blue;
    }
    .hacker {
      width: 100%;
      padding-top: 450px;
      height: 550px;
      font-size: 4rem;
      line-height: normal;
    }
    a {
      color: #fff;  
      width: 100%;
      height: 100%;
      font-size: 5rem;
      opacity: 0.5;
      transition: all 0.8s;
    }
  }
#color {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 940;
  width: 100%;
  height: 100%;
  background-image: image-url("team.jpg");
  background-size: 100%;
  clip: rect(0px,1200px,2000px,1200px);
  transition: all 0.8s;
  &.jon {
    clip: rect(0px,300px,2000px,100px);
  }
   &.tim {
    clip: rect(0px,475px,2000px,275px);
  }
   &.lucy {
    clip: rect(0px,625px,2000px,425px);
  }
   &.fin {
    clip: rect(0px,890px,2000px,690px);
  }
 } 
#screen {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 930;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}
.yo {
  position: relative;
  z-index: 950;
  &:hover {
    a, .flatiron {
      opacity: 1 !important;
      transition: all 0.8s;
    }
  }
}
#jon {
  margin-left: 60px;
}
#tim {
  margin-left: -43px;
  .hacker {
    padding-top: 350px;
    height: 450px;
  }
}
#lucy {
  margin-left: -50px;
}
#fin {
  margin-left: 80px;
}
#salute {
  padding: 200px 30px;
  color: $blue;
  > * {
    font-weight: bold;
    font-size: 3rem;
  }
  h1 {
    font-size: 5rem;
  }
}
// MAIN
main {
  position: relative;
  width: 100%;
  padding-top: 9vh;
  margin: 0px;
  //flex-direction: row;
}
section.jumbotron {
  padding-top: 25px !important;
  position: relative;
  height: 31vh;
  background-color: #fff !important;
  button {
    top: 40px;
  }
}
#record {
  &:before{
    display: block;
    float: left;
    width: 70px;
    transition: all 0.8s;
  }
  &.start:before {
    content: 'Start';
  }
  &.stop:before {
    content: 'Stop';
  }
}
#viz {
  text-align: center;
  #display {
    width: 90%;
    height: 250px;
    margin: 0px auto;  
  }//display
}//viz
#intro {
    color: $blue;
    text-align: center;
    padding: 75px 100px;
    h1 {
      //font-size: 5rem;
      font-weight: bold;
    }
}
section.rec-container {
  width: 100%;
  height: 50vh;
  margin: 0px;
  overflow: auto;
  .parent {
    padding-right: 20px;
  }
  ul {
    overflow: hidden;
    list-style-type: none;
  }
}
ul.add-recording {
  padding-top: 10px;
  .panel {
    position: relative;
    padding: 15px;
    margin:  2%;
    border-color: $blue;
    .row {
      padding-top: 7px;
      color: $blue;
      section {
        margin: 0px;
      }
    }
  }//panel
  .btn {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 100;    
    color: $blue;
    font-size: 3rem;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
  }
  .glyphicon-remove-circle {
    z-index: 1000;
  }
  .glyphicon-pencil {
    display: none;
    position: relative;
    left: -20px;
    color: $blue;
    font-size: 2rem;
    cursor: pointer;
    //&.blue {
    //   color: $blue;
    // }
  }
}//add-recording
.rec-name,
.rec-score *{
  color: $blue;
  font-weight: bold;
}
.rec-canvas {
  padding-right: 0px;
}
.rec-score {
  padding-left: 0px;
}
.rec-display {
  width: 300px;
  height: 100px;
}//
.rec-info {
  width: 100%;
  ul {
    height: 135px;
    padding: 0px;
    margin: 0px;
  }
  li {
    text-align: left;
  }

  .time {
    margin-left: 20px;
  }
  .hits {
    margin-left: 20px;
  }

}
//footer
nav.results {
  position: absolute;
  bottom: 0px;
  z-index: 800;
  width: 100%;
  height: 90px;
  background-color: #000;
  text-align: center;
}
//modals
.modal {
  .blue {
    display: none;
  }
  .modal-header {
    background-color: #000;
    padding-bottom: 0px;
    border-bottom: 4px solid $blue;
    div {
      width: 75%;
      img {
        width: 100%;
        height: auto;
      }
    }
    .close, .close:hover {
      color: #fff;
      opacity: 1;
    }
  }//modal-header

  ul {
    overflow: hidden;
  }
  .modal-body {
    padding: 30px;
    line-height: 3rem;
  }
  h2 {
    color: $blue;
    font-weight: bold;
  }
}
#resultsModal {
  ul {
    list-style-type: none;
  }
}
#resultBody {
  li.box {
    width: 100% !important;
  }
  .glyphicon-remove-circle {
    color: #fff;
  }
  .glyphicon-pencil {
    display: none !important;
  }
}
#nameModal { 
  .modal-body {
    padding: 20px;
    color: $blue;
  }
  h3 {
    font-weight: bold;
  }
}
#helpModal {
  li {
    margin-bottom: 20px;
  }
}



